# API Backend URL (Dev: Django runserver, Prod: gleicher Host wie Frontend)
VITE_API_URL=http://localhost:8000/api

# Keycloak
VITE_KEYCLOAK_URL=https://auth.t410.de
VITE_KEYCLOAK_REALM=master
VITE_KEYCLOAK_CLIENT=stagedesk
